<div class="mat-typography">
<div class="header content-pad">
  <md-card>
  <span class="example-spacer"></span>
  <button md-fab (click)="openProject()"><i class="material-icons">add</i></button>
  </md-card>
</div>

<div class="content-pad">
  <md-card>
    <md-card-title>My Wedding List</md-card-title>
    <md-card-content>
      <p class="mat-h3">Total Cost: <span style="color: red; font-weight: bold">$3000.00</span></p>
      <p class="mat-h3">Total Savings: <span style="color: green; font-weight: bold"> $250.00</span></p>
      <p class="mat-h3">Monthly Savings: <span style="color: blue; font-weight: bold"> $150.00</span></p>
      <p class="mat-h3">Target Duration: <span style="color: orange; font-weight: bold">10 months remainings</span></p>
    </md-card-content>
  </md-card>
</div>

<div class="content-pad">
  <md-card>
    <md-card-title>My Wedding List</md-card-title>
    <md-card-content>
      <p class="mat-h3">Total Cost: <span style="color: red; font-weight: bold">$3000.00</span></p>
      <p class="mat-h3">Total Savings: <span style="color: green; font-weight: bold"> $250.00</span></p>
      <p class="mat-h3">Monthly Savings: <span style="color: blue; font-weight: bold"> $150.00</span></p>
      <p class="mat-h3">Target Duration: <span style="color: orange; font-weight: bold">10 months remainings</span></p>
    </md-card-content>
  </md-card>
</div>
