.header {
    padding-top: 30px;
    text-align: right;
}

.example-spacer {
    flex: 1 1 auto;
}

.content-pad {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

md-card-title {
    display: flex;
}

.title-ions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}