.btnEditSize {
    font-size: 1.5em;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}

.btnRowSize {
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}

.edit {
    color: blue;
}

.delete {
    color: red;
}

.header {
    padding-top: 30px;
    text-align: right;
}

.content-pad {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

tr {
    border-bottom: 1px solid lightgray;
    font-size: 1.3em;
}


