<div class="mat-typography">
  <!-- Custom Success/Erro Message -->
  <flash-messages></flash-messages>
  <div class="header content-pad">
    <md-card>
      <md-card-title style="text-align: left"><button md-mini-fab  [routerLink]="['/projects']"><md-icon>keyboard_backspace</md-icon></button> {{ project.title }} </md-card-title>
      <md-card-content>
        <p class="mat-h3">Total Savings: <span style="color: darkgreen; font-weight: bold">{{ project.totalSavings | currency:'USD':true:'1.2-2' }} </span>&nbsp; &nbsp;<span><button md-icon-button><md-icon class="btnEditSize" (click)="editSavings()">edit</md-icon></button></span></p>
        <p class="mat-h3">Monthly Savings: <span style="color: blue; font-weight: bold"> {{ project.monthlySavings | currency:'USD':true:'1.2-2' }} </span>&nbsp; &nbsp;<span><button md-icon-button><md-icon class="btnEditSize" (click)="editMSavings()">edit</md-icon></button></span></p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content style="text-align: center">
        <form [formGroup]="form" (ngSubmit)="addItem(project._id)">
          <md-input-container>
            <input type="text" mdInput placeholder="List Item" name="itemName" formControlName="itemName">
          </md-input-container>
          <md-input-container>
            <input type="number" mdInput placeholder="Cost" name="cost" formControlName="cost">
          </md-input-container>
          <button md-raised-button color="primary" [disabled]="!form.valid">Add</button>
        </form>
      </md-card-content>
    </md-card>
  </div>


  <div class="content-pad">
    <md-card>
      <md-card-content>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>List Item</th>
              <th>Cost</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineInfo of project.items; let i = index">
              <th scope="row"> {{ i + 1 }}</th>
              <td>{{ lineInfo.listItem }}</td>
              <td>{{ lineInfo.cost | currency:'USD':true:'1.2-2' }}</td>
              <td style="text-align:right"><button md-icon-button><md-icon class="btnRowSize edit">edit</md-icon></button> <button md-icon-button><md-icon class="btnRowSize delete">delete</md-icon></button></td>
            </tr>
            <tr style="align-content: right">
              <td></td>
              <td> <b>Total Cost of Expenses: </b></td>
              <td span style="color: darkgreen; font-weight: bold">
                 {{ totalExpensesCost | currency:'USD':true:'1.2-2' }}
              </td>
            </tr>
            <tr style="align-content: right">
              <td></td>
              <td> <b>You have to save for </b></td>
              <td span style="color: darkgreen; font-weight: bold">
                 {{ targetDuration }} months
              </td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>
  </div>
