<h2 md-dialog-title>Change Monthly Savings amount</h2>
<md-dialog-content>
  <form>
    <md-input-container>
      <input type="text" mdInput  value="{{ data.monthlySavings }}" #newSavingsAmount autocomplete="false">
    </md-input-container>
  </form>
</md-dialog-content>
<md-dialog-actions>
  <button md-raised-button md-dialog-close>Cancel</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-raised-button color="primary" [md-dialog-close]="true" (click)="dialogRef.close(newSavingsAmount.value)">Save</button>
</md-dialog-actions>
